body {
    font-size: calc(8px + 2vmin);
    background-color: #2F2B32;
}

.navbar {
    background-color: #2F2B32;
    padding: 10px 0;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #FFFFFF;
    font-size: 18px;
    transition: color 0.2s ease;
}

.nav-link:hover {
    color: #CCCCCC;
}

.boton {
    width: 100%;
    height: 48px;
    background-color: #FAF8ED;
    border: 2px solid #F95A37;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 0 10px rgb(255, 119, 56);
    border-radius: 5px;
}

.boton:hover {
    background-color: #F95A37;
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 20px;
}

a {
    color: #A7BF2E;
}

.margin {
    margin-left: 40px;
    transition: transform 250ms;
}

.marginn {
    transition: transform 250ms;
}

.contacto {
    margin-bottom: 20px;
}

.marginn:hover {
    border: 2px solid #F95A37;
    transform: scale(1.05);
}

.margin:hover {
    background-color: #F95A37;
    transform: scale(1.13);
}

.font {
    color: #F95A37;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-top: 40px;
}

.fontContact {
    color: #F95A37;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-top: 40px;
}

.fontt {
    color: #F95A37;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: #A7BF2E;
    margin-left: 10px;
}

.carousel {
    border-radius: 20px;
}

.carousel-item {
    transition: opacity 0.4s ease-in-out;
    border-radius: 20px;
}

.carousel-item.active {
    opacity: 1;
}

.header {
    border: 1px solid #F95A37;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active.carousel-item-left,
.carousel-item.active.carousel-item-right {
    background-size: cover;
    opacity: 0.5;
}

#searchInput {
    border: 2px solid #F95A37;
}

#barra-busqueda {
    border: 2px solid #F95A37;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.car {
    display: flex;
    align-items: center;
    justify-content: end;
}

.icon {
    font-size: 30px;
    color: #A7BF2E;
}

.card-footer {
    display: flex;
}

.card-footer btn {
    align-items: center;
    align-content: center;
    margin: auto;
}

.card {
    box-shadow: 0 0 10px rgb(255, 119, 56);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #FAF8ED;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2F2B32;
}

.card-text {
    font-size: 18px;
    color: #666;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.product-card {
    background-color: #FAF8ED;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 119, 56);
}

.product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.product-info {
    padding: 20px;
}

.product-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2F2B32;
}

.product-price {
    font-size: 18px;
    color: #666;
}

.opinion-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.opinion-card {
    background-color: #FAF8ED;
    padding: 20px;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 119, 56);
    max-width: 500px;
    flex-basis: 30%;
    margin: 5px;
    transition: transform 250ms;

}

.opinion-card:hover {
    border: 2px solid #F95A37;
    transform: scale(1.05);
}

.opinion-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.opinion-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.opinion-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2F2B32;
}

.opinion-text {
    font-size: 16px;
    color: #666;
}

.opinion-rating {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
    }

    .nav-item {
        margin: 10px 0;
    }

    .product-card {
        padding: 10px;
    }

    .product-image {
        height: 100px;
    }

    .product-name {
        font-size: 18px;
    }

    .product-price {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .car {
        justify-content: center;
    }

    .icon {
        font-size: 24px;
    }
}